.favorites-container {
  padding: 5px;
}
.favorites-title {
  text-align: center;
  font-weight: bold;
  color: #d32f2f;
}
.favorite-product-layout {
  padding: 5px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.favorite-product-image {
  width: 80%;
  max-width: 100px;
  border-radius: 10px;
}

.favorite-product-name {
  font-size: 1em;
  font-weight: bold !important;
  color: #d32f2f;
}

.favorite-product-price {
  font-weight: bold !important;
}
.add-favorites {
    text-align: center;
}
