.cart-container {
  padding: 5px;
}
.cart-products {
    padding: 5px 0;
}
.cart-title {
  text-align: center;
  font-weight: bold;
  color: #d32f2f;
  font-size: 1.5em;
}
.cart-product-layout {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.cart-product-image {
  width: 80%;
  max-width: 100px;
  border-radius: 10px;
}

.cart-product-name {
  font-size: 1em;
  font-weight: bold !important;
  color: #d32f2f;
}

.cart-product-price {
  font-weight: bold !important;
}
.cart-size {
  display: flex;
  justify-content: center;
}
.add-to-cart {
  text-align: center;
}
#checkout-button {
  display: flex;
}
.cart-products .quantity {
  margin-bottom: 5px;
}
