.products-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  max-width: 1500px;
  margin: auto;
}

/* Products page */
#productsLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#productsLayout a {
  text-align: center;
  padding: 3px;
  margin: 3px;
}
#display-image {
  width: 80%;
  max-width: 350px;
  border-radius: 10px !important;
}
.product-image {
  border-radius: 10px;
  transition: border-radius 0.5s;
  width: 200px;
}


