.styles-module_carousel-base__3keqD {
  display: flex;
  align-items: center;
}
.single-product {
  display: flex;
  justify-content: center;
}
/* .styles-module_item-provider__YgMwz {
  display: flex;
  justify-content: center;
} */