.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}
#pageContents {
  padding-bottom: 60px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.mobile {
  display: none !important;
}

/* ---- Tablets ----*/
@media only screen and (max-width: 768px) {
}
/* ---- Mobile ----*/
@media only screen and (max-width: 425px) {
  .mobile {
    display: flex !important;
  }

  .none-mobile {
    display: none !important;
  }
}
